scenarios/issue-triage-with-n8n/assets/Issue Triage Workflow.json
{
  "name": "Issue Triage Workflow",
  "nodes": [
    {
      "parameters": {
        "acceptedEventTypes": [
          "issue.created",
          "issue.updated",
          "issue.queue_assigned"
        ]
      },
      "type": "CUSTOM.issueWebhookTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        48
      ],
      "id": "0430751d-7d1d-44f9-aa65-7d67f5cc8feb",
      "name": "On Issue Create/Update/Queue Assigned",
      "webhookId": "55bb36cc-0232-40bd-a32e-22dce33bdc0d",
      "executeOnce": true,
      "credentials": {
        "ticketSystemMockApi": {
          "id": "HRz8Y5kZTlTsN7P6",
          "name": "Ticket System Mock Admin Account"
        }
      }
    },
    {
      "parameters": {
        "category": "doNothing"
      },
      "type": "n8n-nodes-base.debugHelper",
      "typeVersion": 1,
      "position": [
        -64,
        320
      ],
      "id": "3160ad2e-ec39-4a5f-96a8-51e770fe07ad",
      "name": "DebugHelper"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"category\": \"IT Operations > General\",\n    \"group\": \"IT Operations\",\n\t\"priority\": \"MEDIUM\",\n    \"reason\": \"the issue is a general request based on the description and has no significant impact\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1328,
        256
      ],
      "id": "4be84abe-c413-4e5b-bd73-ff4a958951f4",
      "name": "Structured Output Parser",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Issue\n\nIssue Number: {{ $json.issue.id }}\nTitle: {{ $json.issue.title }}\nDescription:\n```\n{{ $json.issue.description_markdown }}\n```\n\n## Task\n\nBased on the Issue details, identify to which category and group the issue should be associated.\nFurthermore, add a priority from LOW, MEDIUM, HIGH or CRITICAL based on the criticality of the issue.\nFinally, add a free-text reason, why the issue was classified in this way.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a issue triage agent that classify the given issue.\n\n## category\n\nUse only one of the following categories. If unsure, use \"Unknown/Unassigned\". \n\n{{ $json.category_description }}\n\n## group\n\nThe following groups are defined for the assignment. If unsure, use \"IT Operations\". \n\n{{ $json.group_description }}\n\n## priority\n\nThe priorities are classified as following:\n- LOW: use if it is just an informational issue or has no production impact\n- MEDIUM: use if it just affects a single device oor user\n- HIGH: use if it has production impact\n- CRITICAL: use if large parts of the infrastructure are affected by the issue\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        48
      ],
      "id": "14e95e34-16a5-4aad-b77a-4e64b244a68a",
      "name": "Issue Triage Agent",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "issueId": "={{ $json.data.id }}",
        "updateFields": {
          "groupName": "Agents > Triage",
          "username": "triage_agent",
          "workflowState": "TRIAGE"
        }
      },
      "type": "CUSTOM.issue",
      "typeVersion": 1,
      "position": [
        -64,
        32
      ],
      "id": "77e5b356-c1c6-4601-ac9d-c5fd1034e490",
      "name": "Takeover Issue to the triage_agent",
      "credentials": {
        "ticketSystemMockApi": {
          "id": "MwlpRw31hmgiPMHO",
          "name": "Ticket System Mock Triage Agent Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "issueId": "={{ $('Takeover Issue to the triage_agent').item.json.issue.id }}",
        "updateFields": {
          "categoryName": "={{ $json.output.category }}",
          "issuePriority": "={{ $json.output.priority }}",
          "groupName": "={{ $json.output.group_name }}",
          "workflowState": "ASSIGNED"
        }
      },
      "type": "CUSTOM.issue",
      "typeVersion": 1,
      "position": [
        1632,
        -80
      ],
      "id": "68c61252-1c2e-4cf1-99a0-6afe8c1855b0",
      "name": "Update Issue Group Association and Workflow state",
      "credentials": {
        "ticketSystemMockApi": {
          "id": "MwlpRw31hmgiPMHO",
          "name": "Ticket System Mock Triage Agent Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7522cda3-e37d-44c3-a2d6-79586cb3dbbb",
              "leftValue": "={{ $json.data.workflow_state }}",
              "rightValue": "NEW",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        48
      ],
      "id": "b2548a16-a18a-4e0d-86be-fba7af653498",
      "name": "If issue is in NEW Workflow State"
    },
    {
      "parameters": {
        "issueId": "={{ $('On Issue Create/Update/Queue Assigned').item.json.data.id }}",
        "body": "={{ $('Issue Triage Agent').item.json.output.reason }}",
        "visibility": "CUSTOMER_VISIBLE"
      },
      "type": "CUSTOM.issueActivity",
      "typeVersion": 1,
      "position": [
        1856,
        -80
      ],
      "id": "a1099b39-67a1-45b8-bad6-be2fe68a9cdc",
      "name": "Add Comment With Reason",
      "credentials": {
        "ticketSystemMockApi": {
          "id": "MwlpRw31hmgiPMHO",
          "name": "Ticket System Mock Triage Agent Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "issueId": "={{ $('Takeover Issue to the triage_agent').item.json.issue.id }}",
        "updateFields": {
          "groupName": "Agent Escalation (HITL)",
          "isEscalated": true,
          "workflowState": "TRIAGE"
        }
      },
      "type": "CUSTOM.issue",
      "typeVersion": 1,
      "position": [
        1632,
        160
      ],
      "id": "a90550ac-3b8b-4913-9a4e-747f607a4a29",
      "name": "Flag the issue for Human in the Loop",
      "credentials": {
        "ticketSystemMockApi": {
          "id": "MwlpRw31hmgiPMHO",
          "name": "Ticket System Mock Triage Agent Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "CUSTOM.category",
      "typeVersion": 1,
      "position": [
        320,
        -144
      ],
      "id": "7fa910ec-8251-46c1-ab39-4360cf62f423",
      "name": "Fetch All Categories from the TSM",
      "credentials": {
        "ticketSystemMockApi": {
          "id": "HRz8Y5kZTlTsN7P6",
          "name": "Ticket System Mock Admin Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "listGroups"
      },
      "type": "CUSTOM.referenceData",
      "typeVersion": 1,
      "position": [
        320,
        -336
      ],
      "id": "5be7a38a-e6c1-4084-9560-bcf16ef13025",
      "name": "Fetch All Groups From The Instance",
      "credentials": {
        "ticketSystemMockApi": {
          "id": "HRz8Y5kZTlTsN7P6",
          "name": "Ticket System Mock Admin Account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "category_description = \"The following categories are defined (format: - 'name' - 'description'):\\n\"\n\nfor item in _items[0][\"json\"]:\n  category_description += f\"- '{item[\"name\"]}' - {item[\"description\"]}\\n\"\n  \nreturn  [\n  {\n    \"category_description\": category_description\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -144
      ],
      "id": "7d9af25c-ed74-40c7-a6bf-6e80cf1c7a1f",
      "name": "Build Prompt Partial for Category descriptions"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "group_description = \"The following groups are defined (format: 'group name' - description):\\n\"\n\nfor item in _items[0][\"json\"]:\n  group_description += f\"- '{item[\"name\"]}' - {item[\"description\"]}\\n\"\n  \nreturn  [\n  {\n    \"group_description\": group_description\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -336
      ],
      "id": "d6d5237c-0903-4b60-a779-1e31808a95ea",
      "name": "Build Prompt Partial for Group descriptions"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=issue-id-{{ $('On Issue Create/Update/Queue Assigned').item.json.data.id }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1216,
        352
      ],
      "id": "f3e56ede-d645-48f2-babf-58cd676289b7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        32
      ],
      "id": "161464a4-206a-4d7e-9503-f123d2d27891",
      "name": "Collect Data"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "think": true,
          "temperature": 0.1,
          "keepAlive": "30m",
          "numCtx": 32768,
          "format": "default"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1104,
        240
      ],
      "id": "5d97e15b-4dcf-45b4-bf82-53bd58f93496",
      "name": "gpt-oss:20b (ollama)",
      "credentials": {
        "ollamaApi": {
          "id": "sd6WkfprrMjrAl3c",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {
    "On Issue Create/Update/Queue Assigned": [
      {
        "json": {
          "actor": {
            "display_name": "Admin User",
            "id": 1,
            "type": "user"
          },
          "base_url": "http://localhost",
          "changes": {
            "workflow_state": {
              "from": "TRIAGE",
              "to": "NEW"
            }
          },
          "data": {
            "archived_at": null,
            "assigned_user": {
              "display_name": "Triage Agent",
              "id": 23,
              "username": "triage_agent"
            },
            "category": null,
            "closed_at": null,
            "collection": {
              "id": 6,
              "name": "Infrastructure Operations",
              "prefix": "ITOPS"
            },
            "created_at": "2026-06-15T20:24:55.725606Z",
            "description": "test",
            "id": 24,
            "is_escalated": false,
            "key": "ITOPS-011",
            "links": {
              "api": "http://localhost/api/issues/24",
              "detail": "http://localhost/issues/24/"
            },
            "priority": "MEDIUM",
            "queue": {
              "id": 20,
              "name": "Agents > Triage"
            },
            "resolved_at": null,
            "title": "meh",
            "updated_at": "2026-06-15T20:25:06.201081Z",
            "workflow_state": "NEW"
          },
          "event": "issue.updated",
          "event_id": "ac5c409a-1c96-487a-9cf2-947e0b1af70c",
          "occurred_at": "2026-06-15T20:25:06.202107Z",
          "webhook_metadata": {
            "event": "issue.updated",
            "event_id": "ac5c409a-1c96-487a-9cf2-947e0b1af70c",
            "timestamp": "1781555106"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On Issue Create/Update/Queue Assigned": {
      "main": [
        [
          {
            "node": "If issue is in NEW Workflow State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Issue Triage Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Issue Triage Agent": {
      "main": [
        [
          {
            "node": "Update Issue Group Association and Workflow state",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag the issue for Human in the Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Takeover Issue to the triage_agent": {
      "main": [
        [
          {
            "node": "Fetch All Categories from the TSM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch All Groups From The Instance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Collect Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "If issue is in NEW Workflow State": {
      "main": [
        [
          {
            "node": "Takeover Issue to the triage_agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DebugHelper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Issue Group Association and Workflow state": {
      "main": [
        [
          {
            "node": "Add Comment With Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Categories from the TSM": {
      "main": [
        [
          {
            "node": "Build Prompt Partial for Category descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Groups From The Instance": {
      "main": [
        [
          {
            "node": "Build Prompt Partial for Group descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt Partial for Category descriptions": {
      "main": [
        [
          {
            "node": "Collect Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Prompt Partial for Group descriptions": {
      "main": [
        [
          {
            "node": "Collect Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Issue Triage Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Collect Data": {
      "main": [
        [
          {
            "node": "Issue Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-oss:20b (ollama)": {
      "ai_languageModel": [
        [
          {
            "node": "Issue Triage Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "789de97f-1f7e-4594-a32d-258d8d0d2eaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f8d7f6df40e1e87fd15fb72fefe2c9a7f75ff9df7e63c1f0694440b2b85c9c1"
  },
  "nodeGroups": [],
  "id": "OwaJO7glWFfndPl6",
  "tags": [
    {
      "updatedAt": "2026-06-14T22:37:31.742Z",
      "createdAt": "2026-06-14T22:37:31.742Z",
      "id": "hOBKnQSrHQ0jlCui",
      "name": "TicketSystemMock"
    },
    {
      "updatedAt": "2026-06-14T22:37:25.380Z",
      "createdAt": "2026-06-14T22:37:25.380Z",
      "id": "oPChPe9I6w9operX",
      "name": "Agent"
    }
  ]
}